<script defer src="/assets/js/doublePendulum-browser.js"></script>

<script defer>
var pushPole, nextPush;

nextPush = [0, 0];

pushPole = function (push) {
    "use strict";
    nextPush[0] += push[0];
    nextPush[1] += push[1];
};

getNextPush = function () {
    "use strict";
    return [nextPush[0], nextPush[1]];
}

resetNextPush = function () {
    "use strict";
    nextPush = [0, 0];
}
</script>

<script>

function flashButton (pusher) {
    "use strict";
    pusher.classList.remove("animate");
    setTimeout(function() {
        pusher.classList.add("animate");
    }, 30);
}
</script>

<style>
#pendulumContents { margin: 10px auto 40px auto; padding: 0; width: 280px; }
#poleContents     { margin: 10px auto 40px auto; padding: 0; width: 280px; }

#drawPendulum { margin: 0; padding: 0; height: 320px; width: 280px; }
#buttons      { margin: 0; padding: 0;                width: 280px; }
#drawPole     { margin: 0; padding: 0; height: 320px; width: 280px; }

#buttons { margin-top: 20px; }
#buttons ul { display: flex; justify-content: center; padding-left: 0px; margin: 0; }
#buttons li { list-style: none; width: 60px; display: block; }
#buttons button { display: block; margin: 0 auto; width: 50px; background-color: #9F9F9F; border: 0px solid #000000; border-radius: 8px; color: #000000; }

#drawPendulum,#drawPole,#buttons { user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
#buttons button:focus { outline: 0; }

.clearDiv { clear: both; }

#site { max-width: 1200px; }


#buttons button.animate {
    -webkit-animation-name: button-animation;
    -webkit-animation-duration: 0.3s;

    animation-name: button-animation;
    animation-duration: 0.3s;
}

@-webkit-keyframes button-animation {  
    from { background: #555555; }
    to   { background: #9F9F9F; }
}

@keyframes button-animation {  
    from { background: #555555; }
    to   { background: #9F9F9F; }
}
</style>

<div id="pendulumContents">
<div id="drawPendulum"></div>

<div id="buttons">
<ul>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([0, -0.2]); flashButton(this)">&lt; &lt;</button></li>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([0, -0.1]); flashButton(this)">&lt;</button></li>

<li><button onfocus="flashButton(this)" onmousedown="pushPole([0, 0.1]); flashButton(this)">&gt;</button></li>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([0, 0.2]); flashButton(this)">&gt; &gt;</button></li>
</ul>
<ul>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([-0.2, 0]); flashButton(this)">&lt; &lt;</button></li>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([-0.1, 0]); flashButton(this)">&lt;</button></li>

<li><button onfocus="flashButton(this)" onmousedown="pushPole([0.1, 0]); flashButton(this)">&gt;</button></li>
<li><button onfocus="flashButton(this)" onmousedown="pushPole([0.2, 0]); flashButton(this)">&gt; &gt;</button></li>
</ul>
</div>

</div>
