---
layout: default
---

<div class="profile">
    <img class="logo" src="{{ site.logo }}"/>

    <span class="title">{{ site.author }}</span>

    <div class="sociallinks">
        {% for social in site.sociallinks %}
        <a rel="me" href="{{ social.url }}"><img src="{{ "/assets/img/social/" | absolute_url }}{{ social.icon }}.svg"/></a>
        {% endfor %}
    </div>

    <div class="homelinks">
        {% for link in site.homelinks %}
            <a href="{{ link.url | absolute_url }}">{{ link.name }}</a>
        {% endfor %}
    </div>
</div>

